* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

}
body{
	background-color: #000;
	position: relative;
	font-family: 'Montserrat', sans-serif;
}

.header {
  display: flex;
	justify-content: center;
	align-items: center;
	background-color: #689775;
	font-size: 20px;

	height: 52px;


}

.panel{
	color: #000;
	background-color: white;
	margin-top: 0px;
	display: flex;
	font-size: 20px;
	justify-content: space-around;
	height: 52px;
	 align-items: center;

}
.typeSort{
	width: 180px;
	height: 30px;
}
.mainContainer{
	position: relative;
	margin: auto;
	height: 413px;
	width: 1200px;
}
#array {
	background-color: #000;
	height: 413px;

	margin: auto;
	position: relative;
	margin-top: 64px;
}

.block {
	/* width: 28px; */
  /* height: 100px; */
	background-color: white;
	position: absolute;
	bottom: 0px;
	transition: 0.2s all ease;
}

.block_id {
	position: absolute;
	color: white;
	margin-top: -20px;
	width: 100%;
	text-align: center;
}
